<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iDash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <iDash.Properties.Settings>
            <setting name="TM1637" serializeAs="String">
                <value />
            </setting>
            <setting name="BUTTONS" serializeAs="String">
                <value />
            </setting>
            <setting name="VJOY_IDS" serializeAs="String">
                <value>1,0,0,0,0,0</value>
            </setting>
            <setting name="ARDUINO_IDS" serializeAs="String">
                <value>Arduino 1,Arduino 2,Arduino 3,Arduino 4,Arduino 5,Arduino 6</value>
            </setting>
            <setting name="COMPORT_IDS" serializeAs="String">
                <value>0,0,0,0,0,0</value>
            </setting>
        </iDash.Properties.Settings>
    </userSettings>
</configuration>
